body {
    position: relative;
}

.jumbotron{
    padding-top: 100px;
    padding-bottom: 125px;
}

.about {
    padding-bottom: 70px;
}

.contact {
    padding-bottom: 100px;
    background-color: #e9ecef;
}

hr {
    width: 200px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: #212529;
    padding-top: 15px;
  }
  
  footer p{
    color: rgb(212, 212, 212);
    font-size: 1em;
  }