.card-judul {
    margin-top: 100px;
}

.card1{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.baris {
    margin-bottom: 80px;
}


.card-1{
    box-shadow: 0px 0px 19px rgba(77, 121, 255,.4);
    cursor: pointer;
    transition: .4s;
    margin: 50px auto 0;
}

.card-1:hover{
    box-shadow: 0px 0px 25px rgba(77, 121, 255,.7);
    transform: scaleY(1.01);
}


.icon-coding{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 22px;
}

.text-muted {
    font-size: 13px;
}

.card-text {
    margin-bottom: 50px;
}

.card-footer {
    font-size: 20px;
    font-weight: bold;
}

